<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="usernameInput">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="passwordInput">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Re-Enter Password</span>
    </div>
    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="passwordReEnter">
  </div>

  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary"  [disabled]="!canSignUp()"   (click)="createLogin()">Signup</button>
    </div>
  </div>
</div>

<!-- <p>{{usernameInput}}</p> -->


