<div class="container">
  <div class="row">
    <div class="col-12 mb-3 mt-lg-5 mt-3">
      <p-toast [style]="{marginTop: '10px'}" position="top-center" baseZIndex="1021"></p-toast>

      <!-- Navbar -->
<nav *ngIf="showNavbar" class="navbar navbar-expand-lg bg-dark navbar-dark ">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/roomselection']"><i class="fas fa-home"></i></a>

    <!-- Toggle button -->
    <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button> -->

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Link -->
        <li class="nav-item">
          <a class="nav-link" ><i class="fas fa-cog"></i> </a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->




        <!-- <div class="btn-group" mdbDropdown>
          <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
            mdbWavesEffect>
            Settings
          </button>

          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div> -->


      </ul>





    </div>
          <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" (click)="logout()" [routerLink]="['/login']"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
          <!-- Search -->
      <form class="w-auto">
        <input type="search" class="form-control" placeholder="Room ID" aria-label="Search">
      </form>
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" [routerLink]="['/room']"><i class="fas fa-search"></i></a>
        </li>
      </ul>


  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->


      <router-outlet></router-outlet>
    </div>
  </div>
