<!-- Section: Blog v.1 -->
<section class="my-5" *ngIf="posts && posts.length > 0">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Posts</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
    sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <div *ngFor="let post of posts; let i = index" style="margin-bottom: 20px">
    <div *ngIf="i % 2 == 0; else rightBlock">
      <hr class="my-5" />
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div
            class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light"
            mdbWavesEffect
          >
            <img
              class="img-fluid"
              src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="green-text">
            <h6 class="font-weight-bold mb-3">
              <mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong>Title of the news</strong>
          </h3>
          <!-- Excerpt -->
          <p>{{ post.message }}</p>
          <!-- Post data -->
          <p>
            by
            <a
              ><strong>{{ post.user.username }}</strong></a
            >, {{ timePosted(post.createdDate) }}
          </p>
          <!-- Read more button -->
          <a mdbBtn color="success" mdbWavesEffect
            ><i class="fas fa-arrow-up"></i
          ></a>
          <a
            mdbBtn
            color="success"
            (click)="deletePost(post.postID, i)"
            mdbWavesEffect
            ><i class="fas fa-arrow-down"></i
          ></a>
        </div>
        <!-- Grid column -->
      </div>
    </div>
    <ng-template #rightBlock>
      <hr class="my-5" />

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3">
              <mdb-icon far icon="image" class="pr-2"></mdb-icon>Lifestyle
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong>Title of the news</strong>
          </h3>
          <!-- Excerpt -->
          <p>{{ post.message }}</p>
          <!-- Post data -->
          <p>
            by
            <a
              ><strong>{{ post.user.username }}</strong></a
            >, {{ timePosted(post.createdDate) }}
          </p>
          <!-- Read more button -->
          <a mdbBtn color="pink" mdbWavesEffect
            ><i class="fas fa-arrow-up"></i
          ></a>
          <a
            mdbBtn
            color="pink"
            (click)="deletePost(post.postID, i)"
            mdbWavesEffect
            ><i class="fas fa-arrow-down"></i
          ></a>
          <!-- <a mdbBtn color="pink" mdbWavesEffect class="mb-lg-0 mb-4" (click)="deletePost(post.postID,i)" >Read more</a> -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div
            class="view overlay rounded z-depth-2 waves-light"
            mdbWavesEffect
          >
            <img
              class="img-fluid"
              src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </ng-template>
  </div>

  <!-- Section: Blog v.1 -->

  <div *ngIf="posts.length % 2 == 0; else postRight">
    <hr class="my-5" />

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div
          class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light"
          mdbWavesEffect
        >
          <img
            class="img-fluid"
            src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <div class="dropdown" mdbDropdown>
          <button
            mdbDropdownToggle
            mdbBtn
            color="success"
            class="dropdown-toggle waves-light"
            type="button"
            mdbWavesEffect
          >
            Category
          </button>
          <a mdbBtn color="success" mdbWavesEffect (click)="postPost()">Post</a>

          <div class="dropdown-menu dropdown-primary">
            <button class="dropdown-item" href="#">
              <i class="fas fa-utensils"></i>Food
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-suitcase"></i>Travel
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-glass-cheers"></i>Hangout
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-sort-amount-up"></i>Poll
            </button>
          </div>
        </div>

        <!-- Post title -->
        <div class="md-form md-outline form-lg font-weight-bold pink-text mb-3">
          <input
            id="form-lg"
            class="form-control form-control-lg"
            type="text"
            mdbInput
          />
          <label for="form-lg">Title</label>
        </div>

        <!-- Excerpt -->
        <p></p>

        <div class="md-form md-outline green-text">
          <textarea
            type="text"
            id="form75"
            class="form-control mb-3 md-textarea"
            rows="3"
            [(ngModel)]="messageInput"
            mdbInput
          ></textarea>
          <label for="form75">Message</label>
        </div>

        <!-- <input type="text" class="mb-3" placeholder="message"> -->
        <!-- <p>message</p> -->
        <!-- Post data -->
        <!-- <p>by <a><strong>{{displayUser}}</strong></a></p> -->
        <!-- Read more button -->
      </div>
      <!-- Grid column -->
    </div>
  </div>

  <ng-template #postRight>
    <!-- Grid row -->

    <hr class="my-5" />

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Category -->
        <div class="dropdown" mdbDropdown>
          <button
            mdbDropdownToggle
            mdbBtn
            color="pink"
            class="dropdown-toggle waves-light"
            type="button"
            mdbWavesEffect
          >
            Category
          </button>
          <a mdbBtn color="pink" mdbWavesEffect (click)="postPost()">Post</a>

          <div class="dropdown-menu dropdown-primary">
            <button class="dropdown-item" href="#">
              <i class="fas fa-utensils"></i>Food
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-suitcase"></i>Travel
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-glass-cheers"></i>Hangout
            </button>
            <button class="dropdown-item" href="#">
              <i class="fas fa-sort-amount-up"></i>Poll
            </button>
          </div>
        </div>

        <div
          class="md-form md-outline form-lg font-weight-bold green-text mb-3"
        >
          <input
            id="form-lg"
            class="form-control form-control-lg"
            type="text"
            mdbInput
          />
          <label for="form-lg">Title</label>
        </div>

        <div class="md-form md-outline pink-text">
          <textarea
            type="text"
            id="form75"
            class="form-control mb-3 md-textarea"
            rows="3"
            [(ngModel)]="messageInput"
            mdbInput
          ></textarea>
          <label for="form75">Message</label>
        </div>
        <!-- Post data -->
        <!-- <p>by <a><strong>{{post.user.username}}</strong></a>, 14/08/2018</p> -->
        <!-- Read more button -->
        <!-- <a href="" class="green-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Food</h6>
        </a> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img
            class="img-fluid"
            src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
            alt="Sample image"
          />
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </ng-template>
</section>
