<!-- Section: Blog v.1 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">
    {{ currentRoom.roomName }}
  </h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">
    {{ currentRoom.bio }}
  </p>

  <div
    *ngFor="let post of posts; let i = index"
    style="margin-bottom: 20px"
    [@simpleFadeAnimation]="'in'"
  >
    <app-post
      [post]="post"
      [index]="i"
      (updatedIndex)="updated($event)"
      (removed)="removed($event)"
      (downvoted)="downvoted($event)"
      (upvoted)="upvoted($event)"
    ></app-post>
  </div>
  <app-creation
    (cat)="reHeap($event)"
    [index]="posts.length"
    [roomID]="currentRoom.roomID"
  ></app-creation>

  <!-- Section: Blog v.1 -->
</section>
