<!--Projects section v.2-->

<section class="section text-center">
  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5">
    <strong>Your Bulletins</strong>
  </h2>
  <!--Section description-->

  <div
    *ngFor="let room of rooms; even as even; last as final; index as i"
    [@simpleFadeAnimation]="'in'"
  >
    <div *ngIf="even">
      <div *ngIf="final; else finalBlock">
        <app-room-module
          (removedIndex)="removed($event)"
          [final]="final"
          [index]="i"
          [firstRoom]="this.rooms[i]"
          [secondRoom]="null"
        ></app-room-module>
      </div>
      <ng-template #finalBlock>
        <app-room-module
          [final]="final"
          (removedIndex)="removed($event)"
          [index]="i"
          [firstRoom]="this.rooms[i]"
          [secondRoom]="this.rooms[i + 1]"
        ></app-room-module>
      </ng-template>
    </div>
  </div>
</section>
<!--/Projects section v.2-->
<div *ngIf="show == true; else createBlock">
  <button
    mdbBtn
    type="button"
    gradient="purple"
    block="true"
    size="lg"
    mdbWavesEffect
    (click)="toggleShow()"
  >
    Create Bulletin
  </button>
</div>

<ng-template #createBlock>
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-7">
      <h3 class="font-weight-bold mb-3">
        <strong>Create Room</strong>
      </h3>
      <!-- Category -->

      <div class="md-form md-outline form-lg font-weight-bold green-text mb-3">
        <input
          id="form-lg"
          class="form-control form-control-lg"
          type="text"
          [(ngModel)]="roomNameInput"
          mdbInput
        />
        <label for="form-lg">Room Name</label>
      </div>

      <div class="md-form md-outline form-lg font-weight-bold green-text mb-3">
        <input
          id="form-lp"
          class="form-control form-control-lg"
          type="text"
          [(ngModel)]="passwordInput"
          mdbInput
        />
        <label for="form-lp">Password</label>
      </div>

      <div class="md-form md-outline pink-text">
        <textarea
          type="text"
          id="form75"
          class="form-control mb-3 md-textarea"
          rows="2.5"
          [(ngModel)]="bioInput"
          mdbInput
        ></textarea>
        <label for="form75">Bio</label>
      </div>

      <button
        mdbBtn
        type="button"
        gradient="purple"
        block="true"
        size="lg"
        mdbWavesEffect
        (click)="postRoom()"
        [disabled]="!canMakeRoom"
      >
        Create Room
      </button>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->

    <div class="col-lg-5">
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img
          class="img-fluid"
          src="https://cdn.discordapp.com/attachments/168572195075915776/858518609424154654/masters.PNG"
          alt="Sample image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="md-form md-outline form-lg font-weight-bold pink-text mb-3">
        <input
          name="imagePink"
          id="imagePink"
          class="form-control form-control-lg"
          type="text"
          [(ngModel)]="imageURLInput"
          mdbInput
        />
        <label for="imagePink">Image URL</label>
      </div>

      <button
        mdbBtn
        type="button"
        color="danger"
        block="true"
        size="lg"
        mdbWavesEffect
        (click)="toggleShow()"
      >
        Cancel
      </button>
    </div>

    <!-- Grid column -->
  </div>
</ng-template>
